body {
    background-size: cover;
    background-image: url(../IMG/car.jpg);
}
.Edit{
    font-size: 30px;
}

.container {
  width: 80%;
  height: 80%;
  background: rgba(70, 80, 100, 0.6);
  border-radius: 85px;
  overflow: hidden;
  margin: auto;
  padding: 25px;  
}
  
form {
  display: grid;
  grid-gap: 20px;
}
  
button {
  font-size: 35px;
  color: aliceblue;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
  
button:hover {
  background-color: red;
  color: black;
}