.landing-container{
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
.landing {
    background-image: url("../IMG/offers.jpg");
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
    min-width: 900px;
    max-width: 100%;
  }
  .landing:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(90deg, #122D48 0%, rgba(18, 45, 72, 0) 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    opacity: .9;
}

  .landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
    z-index: 1000;
  }
  .landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: black;
    transition: .6s;
  }
  .landing .intro-text h1:hover {
    padding-bottom :30px;
  }
  .landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
    font-weight: 400;
    color:black;
  }
  body{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
    margin: 0;
}
input[type=text], select {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
#navbar img {
    width: 60px;
    margin-left: 100px;
   }
   #navbar{
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color:lightblue;
   }
   #navbar ul {
     display: flex;
     margin-right: 100px;
   }
   #navbar ul li a {
     padding: 10px 15px;
     color: white;
   }
   #navbar ul li a:hover{
     border-bottom: 2px solid #e4b95b;
   }
   ul {
     list-style: none;
     margin: 0;
     padding: 0;
   }
   a {
     text-decoration: none;
   }
div {
    border-radius: 10px;
    background-color:lightblue;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
}
li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
} 
.con{
    display:flex;
    justify-content: space-between;
}
.container {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
}
p.solid{
    border-style: solid;
    color:black;
    bor
}
h4 {
    color:rgb(14, 95, 235);
    text-align:right;

}
.box{
    width: 400px;
    height: 550px;
    background-color: white;
    margin: 10px;
    float: left;
}
.box img {
    max-width: 100%;
    max-height: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100% ;
    height: 10%;
    margin: auto;
    padding: 10PX 0;
    background-color:lightblue;
    background-attachment: fixed;
    background-size:contain;
    border-bottom: 3px solid rgb(252, 196,124);
}
.logo{
    width: 50px;
    border-style: solid;
    border-radius:  50px;
    margin-left: 100px;
}
ul li{
    display: inline-block;
}
ul{
    margin-right: 100px;
}
ul li a{
    display: block;
    color: white;
    font-weight: 600;
    text-decoration:none;
    margin: 10px;
    position: relative;
    transition: 0.5s;
    

}

ul li a:hover{
    padding-left: 20px;
    text-decoration:underline ;
}
table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color:white;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}