.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.credit {
    position: relative;
    text-align: center;
}

p {
    margin: 0;
}

.overlay {
    position: absolute;
    font-family: 'Source Code Pro', monospace;
    color: white;
}

.number {
    top: 45%;
    left: 60px;
    font-size: 35px;
}

.name {
    bottom: 100px;
    left: 61px;
}

.expiry {
    bottom: 100px;
    right: 190px;
}

img {
    width: 100%;
    max-width: 500px;
}